@import url('https://fonts.cdnfonts.com/css/gotham');

body {
    font-family: Gotham, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            opacity: 0.7;
            border-bottom: 2px solid #0066cc;
        }
    }
}